<ion-view view-title="Events" hide-back-button="true">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-and-drawer-toggle>
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-loop" ng-click="refreshAllData()">
        </button>
    </ion-nav-buttons>
    <div class="text-center positive middle-align" ng-if="msg != ''">
        {{msg}}
    </div>
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="event in events" class="item-thumbnail-left item-text-wrap" ng-click="geteventdetails(event.id);">
                <div cache-src="{{event.image | serverimage}}"
                     src-is="background"
                     background-loading-style=" no-repeat center"
                     class="image-adjust img-content lightgray-bg">
                </div>
                <h2>{{event.title}}</h2>
                <span class="icon-space"><i class="icon ln-calendar3"></i></span><span class="font-light">{{event.startdate|date : 'dd MMM, yyyy'}}</span>
                <br>
                <span class="icon-space"><i class="icon ln-timer"></i></span><span class="font-light">{{event.starttime|convertto12}}</span>
                <ion-option-button class="button-positive" ng-click="share(event)">
                    Share
                </ion-option-button>
            </ion-item>
            <!--<ion-infinite-scroll on-infinite="loadMorePolls()" ng-if="keepscrolling" distance="25%">-->
            <!--</ion-infinite-scroll>-->
        </ion-list>
    </ion-content>
    <ion-footer-bar class="margin-0 padding-0 footer-menu">
        <ion-scroll zooming="true" direction="x" scrollbar-x="false" class="categories-filter">
			<span class="footer-col" ng-repeat="links in footerLinks" ng-click="footerLink(links)">
                <div class="row row-no-padding padding-top-5" >
                    <div class="col ">
                        <i class="icon" ng-class="links.icon"></i>
                    </div>
                </div>
                <div class="row row-no-padding padding-top-5" >
                    <div class="col ">
                        {{links.name}}
                    </div>
                </div>
            </span>
        </ion-scroll>
    </ion-footer-bar>
</ion-view>
